---
layout: base
class: directory
title: Directory
---

{% assign alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | split: "" %}
<nav class="directory--filters">
    {% for letter in alphabet %}
    <button data-letter={{letter}}>
        {{letter}}
    </button>
    {% endfor %}
</nav>

<section class="directory--nav">
    <ul class='timeline'>
        <li class="subtitle">
            <h2>2015–2020</h2>
        </li>
        {% for item in collections.directory_item%}
        <li class="timeline--item directory--item" data-title="{{item.data.title}}"
            data-slug="{{item.fileSlug | replace: ({" ": " -"})}}">
            <h3>{{item.data.title}}</h3>
            <h4>{{item.data.subtitle}}</h4>
            <div class='description'>
                {{item.data.description | renderMarkdown}}
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
<main class="directory--entry helvetica-copy">
    <div class="directory--entry--inner">

    </div>
</main>