---
layout: base
class: home
---

<ul class="preview-items">
    {% for item in preview.items %}
    <li class="preview-item">
        <div class="slider" data-current="{{item.currentImage}}" data-cursor="left-right">
            <span class="slider--index">{{forloop.index}}</span>
            <div class="slider--slides">
                {% for image in item.images %}
                <div class="slide">
                    <img src="{{image | replace: ".png", ".webp"}}" alt="">
                </div>
                {% endfor %}
            </div>
            <p class='slider-count'>1 / {{item.images | size}}</p>
        </div>
        <header class='preview-item--header everson-copy'>
            <h2 class='preview-item--title'>
                {% if item.directorySlug %}
                <a href="/directory/#{{item.directorySlug}}">
                    {{item.title}}
                </a>
                {% else %}
                {{item.title}}
                {% endif %}
            </h2>
            <h3 class='preview-item--subtitle'>{{item.subtitle}}</h3>
            <div class="preview-item--copy">
                {% if item.copy %}
                {{item.copy | renderMarkdown}}
                {% endif %}
            </div>
        </header>
    </li>
    {% endfor %}
</ul>