---
layout: base
class: home
---

<ul class="preview-items">
    {% for item in preview.items %}
    <li class="preview-item">
        <div class="slider">
            <div class="slider--slides">
                {% for image in item.images %}
                <div class="slide">
                    <img src="{{image}}" alt="">
                </div>
                {% endfor %}
            </div>
            <p class='slider-count'>1 / {{item.images | size}}</p>
        </div>
        <header class='preview-item--header everson-copy'>
            <h2 class='preview-item--title'>{{item.title}}</h2>
            <h3 class='preview-item--subtitle'>{{item.subtitle}}</h3>
            <div class="preview-item--copy">
                {% if item.copy %}
                {{item.copy | renderMarkdown}}
                {% endif %}
            </div>
        </header>
    </li>
    {% endfor %}
</ul>